<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4c865">  <td>21/02/02 19:10:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiDemoTest.apiDemo()[pri:0, instance:demo.Listners.ApiDemoTest@1e683a3e]">apiDemo</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>21/02/02 19:10:04</td>   <td>-6143</td> <td>&nbsp;</td><td title="&gt;&gt;EcommerceApp.killAllNodes()[pri:0, instance:demo.Listners.EcommerceApp@2b48a640]">&gt;&gt;killAllNodes</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>21/02/02 19:11:17</td>   <td>66240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EcommerceApp.totalValidation()[pri:0, instance:demo.Listners.EcommerceApp@2b48a640]">totalValidation</td> 
  <td>main@1138410383</td>   <td></td> </tr>
</table>
